/* Header
----------------------------------------------------------- */
/* Header Top */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3.75rem;
  background-color: #FFF;
  z-index: 500;
}

.header__link {
  display: block;
  margin: 1.25rem 0 0 1.25rem;
  width: 6.6875rem;
  height: 1.3125rem;
}

.header__img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .header {
    display: block;
    padding: 0 4.3125rem;
    height: 5.625rem;
  }

  .header__link {
    margin: 1.75rem 0 0 0;
    width: 10.4375rem;
    height: 2.0625rem;
  }
}

@media (min-width: 1440px) {
  .header {
    display: block;
    padding: 0;
    height: 5.625rem;
  }

  .header__link {
    margin: 1.75rem 0 0 calc(50% - 40.6875rem);
    width: 10.4375rem;
    height: 2.0625rem;
  }
}

/* Hamburger Menu */
.hamburger-button {
  display: block;
  padding: 1.25rem 0.9375rem;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #DD1B57;
  border: 0.0625rem solid #707070;
}

.hamburger-button__bar {
  display: block;
  width: 1.75rem;
  height: 0.125rem;
  background-color: #FFF;
  border-radius: 0.0625rem;
}

.hamburger-button__bar:not(:first-child) {
  margin-top: 0.375rem;
}

.hamburger-button--cross {
  position: relative;
  margin-left: auto;
  padding: 0;
  border: none;
}

.hamburger-button__bar--cross {
  position: absolute;
  top: 1.8125rem;
  left: 0.9375rem;
  width: 1.875rem;
}

.hamburger-button__bar--cross:first-child {
  transform: rotate(45deg);
}

.hamburger-button__bar--cross:last-child {
  margin: 0;
  transform: rotate(-45deg);
}

@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: -12.5rem;
  width: 12.5rem;
  height: 100vh;
  background-color: #DD1B57;
  transition: right 0.4s ease-in-out;
}

.hamburger-menu--active {
  right: 0;
}

.hamburger-menu__list {
  margin: 2.375rem 0 0 2.5rem;
}

.hamburger-menu__item:not(:first-child) {
  margin-top: 2.0625rem;
}

.hamburger-menu__link {
  color: #FFF;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.hamburger-menu__link--disabled {
  color: #EF90A4;
  pointer-events: none;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .hamburger-menu {
    top: 2.3125rem;
    right: 4.3125rem;
    width: initial;
    height: initial;
    background-color: unset;
  }

  .hamburger-menu__list {
    display: flex;
    -moz-column-gap: 1.8125rem;
    column-gap: 1.8125rem;
    margin: 0;
  }

  .hamburger-menu__item:not(:first-child) {
    margin-top: 0;
  }

  .hamburger-menu__link {
    color: #151515;
  }

  .hamburger-menu__link--disabled {
    color: #DD1B57;
    pointer-events: none;
    text-decoration: none;
  }
}

@media (min-width: 1440px) {
  .hamburger-menu {
    top: 2.3125rem;
    right: calc(50% - 40.6875rem);
    width: initial;
    height: initial;
    background-color: unset;
  }

  .hamburger-menu__list {
    display: flex;
    -moz-column-gap: 1.8125rem;
    column-gap: 1.8125rem;
    margin: 0;
  }

  .hamburger-menu__item:not(:first-child) {
    margin-top: 0;
  }

  .hamburger-menu__link {
    color: #151515;
  }

  .hamburger-menu__link--disabled {
    color: #DD1B57;
    pointer-events: none;
    text-decoration: none;
  }
}

/*# sourceMappingURL=header.css.map */